:root {
    --blanco: #fdfdfd;
    --logo: #ec850efd;
    --secundario: #0097A7;
    --gris: #0e45aa;
    --oscuro: #212121;
}
html {
    box-sizing: border-box;
    min-height: 100%;
}
*, *:before, *:after {
    box-sizing: inherit;
}
p {
    line-height: 2;
}
body {
    font-family: 'Krub', sans-serif;
    background-image: linear-gradient(to top, #285786 0%, rgba(255, 255, 255, 0.637) 100%);
    min-height: 100%;
}

h2, h3 {
    text-align: center;
}
h3 {
    color: var(--secundario);
    font-weight: 400;
    font-size: 1.6rem;
}

.contenedor {
    margin: 0 auto;
    max-width: 1200px;
    padding: 2rem;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 10px;
    -webkit-box-shadow: 0px 11px 15px -9px rgba(0,0,0,0.63);
    -moz-box-shadow: 0px 11px 15px -9px rgba(0,0,0,0.63);
    box-shadow: 0px 11px 15px -9px rgba(0,0,0,0.63);
    margin-bottom: 3rem;
}
.header nav {
    padding: 1rem 0;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    
    flex-direction: column;
    align-items: center;
}
@media (min-width:768px) {
    .header nav {
        flex-direction: row;
        justify-content: space-between;
    }
}
.header nav a{
    color: var(--oscuro);
    text-decoration: none;
    font-size: 1.4rem;
    margin-bottom: 2rem;
}
.header nav a:last-of-type {
    margin-bottom:0;
}
@media (min-width:768px) {
    .header nav a{
        margin-bottom: 0;
    }
}
.hero {
    height: 450px;
    background-image: url(../img/hero2.jpg);
    margin-bottom: 2rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero::after {
    content: '';
    background-color: rgba(17, 15, 15, 0.404);
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
}
.contenido-hero {
    position: relative;
    z-index: 1;
    flex: 1;
    padding-bottom: 2rem;
    color: white;
    text-align: center;
}

.contenido-hero i {
    font-size: 3rem;
    color: var(--logo);
}
.boton {
    background-color: var(--gris);
    padding: .3rem 1rem;
    border-radius: 5px;
    display: inline-block;
    margin-top: .5rem;
    color: var(--blanco);
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    font-size: .9rem;
    border:none;
}

.boton2 {
    background-color: var(--gris);
    padding: .5rem .7rem;
    border-radius: 9px;
    display: inline-block;
    margin-top: .1rem;
    color: var(--blanco);
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    font-size: .8rem;
    border:none;
}

.boton:hover{
    cursor: pointer;
}
@media (min-width:768px) {
    .servicios-contenedor {
        display: flex;
        justify-content: space-between;
    }
    .servicio {
        flex: 0 0 calc(33.3% - 1rem);
    }


}
.servicio {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.iconos {
    display: flex;
    height: 100px;
    width: 100px;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--secundario);
    border-radius: 50%;
}
.iconos i {
    font-size: 2rem;
    color: var(--oscuro);
}


form {
    background-color: var(--secundario);
    padding: 2rem;
    border-radius: 10px;
}
form legend {
    text-align: center;
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--gris);
    margin-bottom: 2rem;
    
}
@media (min-width:768px) {
    form {
        max-width: 800px;
        margin: 0 auto;
    }
    .contenedor-campos {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .campo {
        flex : 0 0 calc(50% - 1rem);
    }
}
.campo {
    display: flex;
    margin-bottom: 1rem;
    align-items: center;
}
.campo label {
    flex: 0 0 90px;
    color: var(--blanco);
}
.campo input[type="text"],
.campo input[type="hidden"],
.campo input[type="mail"],
.boton2 {
    flex: 1;
    height: 2rem;
    justify-content: flex-end;
}

body {
    margin: 0;
    padding: 0;
    background-color:var(--secundario);
    height: 100vh;
  }
  #login .container #login-row #login-column #login-box {
    margin-top: 120px;
    max-width: 600px;
    height: 320px;
    border: 1px solid #9c9c9ca8;
    background-color: #8fabac;
  }
  #login .container #login-row #login-column #login-box #login-form {
    padding: 20px;
  }
  #login .container #login-row #login-column #login-box #login-form #register-link {
    margin-top: -85px;
  }
  .btn-login{
      margin-left: auto;
      margin-right: auto;
      
  }